*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    /* color: white; */
    color: unset;
}
body{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.navbarSection{
    padding: 1em 0;
    background-color: #B99F6B;
    z-index: 100;
    position: fixed;
    width: 100vw;
}

.logo{
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 50%;
}
.cartButton{
    width: 50px;
    height: 45px;
    object-fit: cover;
    margin-right: 2em;
    border-radius: 1em;
}
.menuButton{
    width: 50px;
    height: 45px;
    border-radius: 1em;

}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 12em;
}
.navItems ul{
    display: flex;
    list-style: none;
    gap: 2em;
    color: #D0C7B6;
    font-size: 1.1em;
    margin-right: 0.5em;

}
.navImages button{
    background: none;
    border: none;
    cursor: pointer;
}


/* Home */

.homeSection{
    background-color: #B99F6B;
    min-height: 100vh;
    position: relative;
    /* z-index: -100; */
    padding-top: 7.5em;
    
}
.homeContent{
    display: flex;
    align-items: center;
    justify-content: center;
    /* gap: 10em; */
    margin: 0 12em;
}
.cosmeticsImage{
    width: 25em;
    /* border-radius: 2em; */
}
.homeText {
    font-size: 36px;
    padding-top: 24px;
    letter-spacing: 1.2px;
    z-index: 10;
}
.homeText p{
    font-size: 18px;
    color: #D0C7B6;
    letter-spacing: 0.5px;

}
.videoImage{
    width: 60px;
    background: #F0C152;
    border-radius: 50%;
    padding: 4px;
}
.playVideo{
    display: flex;
    align-items: center;
    gap: 0.4em;
    
}
.playVideo p{
    color: #fff;
}
.homeButtons{
    display: flex;
    align-items: center;
    gap: 2em;
}
.shopButton{
    background: #F0C152;
    border: none;
    color: #333;
    padding: 12px 18px;
    font-size: 14px;
    font-weight: 600;
    border-radius: 4px;
    cursor: pointer;
    z-index: 2;
}
.circle1{
    position: absolute;
    top: -30%;
    right: 0;
    height: 10em;
    width: 10em;
    background: #CBAA6D;
    border-radius: 50% 0 50% 50% ;
    z-index: 200;

}
.circle2{
    position: absolute;
    bottom: 0   ;
    left: 0;
    height: 10em;
    width: 10em;
    background: #CBAA6D;
    border-radius: 50% 50% 50% 0;
    /* z-index: -1; */
}

.about{
    /* height: 50vh; */
    background: #fff;
    color: #333;
    /* z-index: 1; */
    padding: 7em 2em;
    text-align: center;
}
.about h1{
    font-size: 2.5em;
    /* text-align: center; */
}
.about p{
    /* text-align: center; */
    color: #474747;
}
.aboutProducts{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2em;
}
.productImage{
    height: 25rem;
    width: 20em;
    border-radius: 1em;
    object-fit: cover;
}
.aboutProducts div h2{
    margin-top: 1em;
}
.aboutProducts div p{
    margin: 0.75em 0;
}
.swipeButton{
    width: 2em;
    margin-bottom: 2em;
}
#right{
    transform: scaleX(-1);
}
.treeImage{
    width: 5em;
    border: 1px solid #f5c450;
    padding: 15px;
    border-radius: 50%;
}
.highlight{
    display: flex;
    text-align: left;
    align-items: center;
    gap: 1em;
    margin: 2.5em 0;
}
.heroProduct{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
    background: #FFFCF6;
}
.centreProduct{
    width: 25vw;
    /* height: 40vh; */
    object-fit: cover;
}
.offerSection{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 5em;
    gap: 2em;
    margin-bottom: 4em;
}
.photoGrid{
    background-image: url('images/photo-grid-1.jpg');
    /* background-repeat: no-repeat; */
    background-size: cover;
    height: 20em;
    width: 70em;
    position: relative;
    border-radius: 6px;
}
.photo-2{
    height: 18em;
    width: 15em;
    object-fit: cover;
    position: absolute;
    right: 0;
    top: -8%;
    border-radius: 6px;



}
.photo-3{
    height: 3em;
    position: absolute;
    bottom: 0;
    right: 0;
    height: 5em;
    border-radius: 6px;
    box-shadow: #333;

}
.offerSectionText{
    color: black;
}
.newsletterSection{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333;
    gap: 4em;
    padding: 4em;
    text-align: center;
    background: #FFFCF6;
}
.flowerImage{
    width: 18em;
}
.mailIcon{
    width: 20px;
}
.inputForm{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.75em;
    border: 1px solid gray;
    max-width: fit-content;
    margin: 0 auto;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 12px;
    padding-right: 4px;
    border-radius: 4px;
    background-color: #fff;
}
.inputField{
    border: none;
    outline: none;
}
.socialLink{
    width: 30px;
}
.storeButtons{
    height: 40px;
    
}
.storeButtonSection{
    display: flex;
    align-items: center;
    gap: 0.4em;
    margin: 0.7em 0;
}
.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #333;
    margin: 3em 4em;
}
.footerInfo{
    width: 25%;
}
.footerMenu{
    width: 25%;
}
.footerHelp{
    width: 25%;
}
.footerInfo p{
    font-size: 14px;
    margin-right: 4em;
}
.socialLinks{
    display: flex;
    align-items: center;
    margin: 0.5em 0;
    max-width: fit-content;
    gap: 1em;
}
.socialLink{
    width: 2.5em;
    
}

@media screen and (max-width: 1180px) {
    .productImage{
        height: 30vh;
        width: 25vw;
    }
}

@media screen and (max-width: 1024px) {
    .flowerImage{
        width: 22vw;
    }
    .treeImage{
        width: 4em;
    }
    .highlight div h2{
        font-size: 18px;
    }
    .highlight div p{
        font-size: 12px;
    }
    .heroProduct{
        gap: 1em;
    }
    .navbar{
        margin: 0 6em;
    }
    .homeContent{
        margin: 0 3em;
    }
    .homeText h1{
        font-size: 1.2em;
    }
    .homeText p{
        font-size: 12px;
    }
    
}
@media screen and (max-width: 1244px) {
    .cosmeticsImage{
        width: 18em;
    }
    /* .homeContent{
        margin: 0 6em;
    } */
    
}

@media screen and (max-width: 900px) {
    .swipeButton{
        display: none;
    }   
}
@media screen and (max-width: 800px) {
    .newsletterSection{
        flex-direction: column;
        /* align-items:start; */
    }
    
}

@media screen and (max-width: 768px) {
    .aboutProducts{
        flex-direction: column;
    }
    .productImage{
        height: 30vh;
        width: 40vw;
    }
    .footer{
        flex-direction: column;
        align-items: start;
        /* text-align: center; */
    }
    .footerInfo p{
        width: 70vw;
    }
    .navItems{
        display: none;
    }
    .heroProduct{
        flex-direction: column;
    }
    .logo{
        width: 50px;
        height: 50px;
    }
    .cartButton{
        padding: 0.25em;
    }
    .menuButton{
        padding: 0.25em;
    }
    .homeSection{
        padding-top: 5em;
    }
    .navbar{
        margin: 0 2.5em;
    }
    .offerSection{
        flex-direction: column;
        /* width: 50vw; */
    }
    .photoGrid{
        max-width: 70vw;
    }
}

@media screen and (max-width: 550px) {
    .cosmeticsImage{
        width: 8em;
    }
    .homeText h1{
        font-size: 0.85em;
    }
    .homeText p{
        font-size: 11px;
    }
    .homeContent{
        flex-direction: column-reverse;
        text-align: center;
    }
    .navbarSection{
        padding: 0.5em 0;
    }
    .homeButtons{
        justify-content: center;
    }
    .homeText{
        padding-top: 0;
    }
}